.sidebar {
    border-color: black;
    height: 100vh;
    flex: 0.2;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 230 px;
    height: 100vh;
    background-color: #040404;
}

.sidebar__logo {
    margin-right: auto;
    height: 150px;
    width: 250px;

}

.sidebar__title {
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
}